@charset "utf-8";

/* base */
.mt0 { margin-top: 0 !important;}
.f_l {float:left}
.f_r {float:right}
.f_n { float:none !important}
.cl_b {clear:both;width:0;height:0;font-size:0;line-height:0}
.show {display:block}
.hide {display:none}
.tbl {border-spacing:0;border-collapse:collapse} /* 테이블 초기화 */
.clearfix {display:block;clear:both;overflow:visible;width:auto;*zoom:1}
.clearfix:after {display:block;visibility:hidden;clear:both;height:0;content:'';font-size:0}
.posr { position: relative;}

.w100p { width: 100% !important;}
.color1 { color: #fca727;}

/* LOGIN */
.loginWrap h1 { margin-top: 48px; text-align: center;}
.loginWrap h1 img { width: 163px; height: 48px;}

.inputArea { padding: 0 14px;}
.inputArea input { height: 48px !important; border: 1px solid #dcdcdc;}
.inputArea input[type='text'] { margin: 24px 0 10px; width: 100%; background: #fff url(../images/login_ico_1.png) no-repeat 14px 16px; background-size: 26px auto; text-indent: 56px;}
.inputArea input[type='password'] { width: 100%; background: #fff url(../images/login_ico_2.png) no-repeat 14px 16px; background-size: 26px auto; text-indent: 56px;}
.rArea { margin-top: 12px; text-align: center;}
.rArea span { margin-right: 15px; font-size: 15px;}
.inputArea button { margin-top: 16px; border-radius: 4px}

.linkArea { margin-top: 20px; color: #b6b6b6; text-align: center; letter-spacing: -1px;}
.linkArea a { color: #b6b6b6; font-size: 13px;}
.linkArea .join_member { color: #666;}
.linkArea span { display: inline-block; margin: 0 6px; vertical-align: baseline; font-size: 12px;}

/* HEADER */
header { position: fixed; top: 0; left: 0; z-index: 1000; width: 100%; height: 49px; border-bottom: 1px solid #d2d2d2; background: #bc2222; line-height: 49px;}
header a { position: absolute; top: 0; width: 48px; height: 100%; text-indent: -10000px;}
.h_back { left: 0; background: url(../images/ico_back.png) no-repeat 14px 14px; background-size: 20px auto;}
.h_menu { right: 0; background: url(../images/ico_menu.png) no-repeat 14px 15px; background-size: 20px auto;}
header h1 { height: 100%; color: #fff; text-align: center; font-weight: normal; font-size: 18.5px;}

/* common */
.sideMenu { display: none;}
.content { margin-top: 50px; padding: 20px 20px 74px;}
h2 { margin: 20px 0 10px; color: #333; font-size: 15px;}
h2:first-child { margin-top: -5px;}
.tbl_type1 { width: 100%; border: 1px solid #e5e5e5;}
.tbl_type1 th { padding: 16px 0; border-bottom: 1px solid #d6d6d6; background: #eee; font-weight: normal;}
/*.tbl_type1 th { padding: 0 9px 0 9px; height: 54px; border-bottom: 1px solid #d6d6d6; background: #eee; color: #333; vertical-align: bottom; text-align: center; font-weight: normal; line-height: 1.15;}*/
/*.tbl_type1 th:after { display:inline-block; width:100%; content:"";}*/
.tbl_type1 td { padding: 0 10px 0 8px; border-bottom: 1px solid #d6d6d6; background: #fff; color: #333;}
input[type='text'], input[type='password'], input[type='time'] { width: 100%; height: 36px; border: 1px solid #e5e5e5; background: #fff; color: #999; text-indent: 10px; -webkit-appearance: none; -moz-appearance: none; appearance: none;}
.tbl_type2 { width: 100%; border: 1px solid #dcdcdc;}
.tbl_type2 th { padding: 16px 0; border: solid #dcdcdc; border-width: 0 0 1px 1px; background: #eee; text-align: center; font-weight: normal;}
.tbl_type2 th:first-child { border-left-width: 0;}
.tbl_type2 td { padding: 16px 0; border: solid #dcdcdc; border-width: 0 0 1px 1px; background: #fff; text-align: center;}
.tbl_type2 td:first-child { border-left-width: 0;}
.cgp1 col:first-child { width: 35%;}
.cgp2 col:nth-child(1) { width: 15%;}
.cgp2 col:nth-child(2) { width: 31%;}
.cgp2 col:nth-child(3) { width: 26%;}
.cgp2 col:nth-child(4) { width: 28%;}
.btnCal { position: absolute; top: 14px; right: 18px; display: none; width: 24px; height: 22px; background: url(../images/ico_cal.png) no-repeat 0 0; background-size: 24px auto; text-indent: -1000px;}
.datepicker + img { position: absolute; top: 14px; right: 16px; width: 24px; height: 22px; background: url(../images/ico_cal.png) no-repeat 0 0; background-size: 24px auto; text-indent: -1000px;}

/* 버튼 */
.btnArea { margin-top: 15px; text-align: center;}
.btnArea:after { display: block; clear: both; content: '';}

.button { box-sizing: border-box; width: 100%; height: 50px; border: 0; color: #fff; font-weight: bold; font-size: 16px;}
.btnColorA { background: #fa2828;}
.btnColorA2 { border: 1px solid #fa2828 !important; background: #fff; color: #fa2828;}
.btnColorB { background: #626262;}
.btnColorB2 { border: 1px solid #333 !important; background: #fff; color: #333;}
.btnColorC { background: #0bbdb9;}
.btnColorC2 { border: 1px solid #0bbdb9 !important; background: #fff; color: #0bbdb9;}

.btnArea.ea2 button { width: 49%;}
.btnArea.ea2 button:nth-child(1) { float: left;}
.btnArea.ea2 button:nth-child(2) { float: right;}

.btnArea.ea3 button { width: 32%;}
.btnArea.ea3 button:nth-child(1) { float: left;}
.btnArea.ea3 button:nth-child(2) { float: left; margin-left: 2%;}
.btnArea.ea3 button:nth-child(3) { float: right;}

/* 회원가입 */
.sosok td { padding: 8px 10px 8px 8px;}
.tdBtn1 { position: absolute; top: 9px; right: 9px; width: 66px; height: 36px; border-left: 1px solid #e5e5e5; background: #fff; color: #333; text-align: center; line-height: 36px;}
.font_red { color: #fa2828;}
.datePeriod input { width: 44.5%; text-align: center; text-indent: 0;}
.datePeriod span { display: inline-block; width: 4.5%;}

@media screen and ( max-device-width: 320px ) {
    /*.tbl_type1 th { padding: 0 3px;}*/
    .datePeriod input { width: 43%;}
    .datePeriod span { width: 4%;}
}

h1.signup { margin-top: 25px; text-align: center;}
h1.signup img { width: 163px; height: 48px;}

.termsArea { margin: 15px 0 19px; padding: 15px; height: 255px; border: 1px solid #e5e5e5; background: #fff;}
.termsArea h1 { color: #333; font-size: 15px;}
.termsArea .p1 { overflow-y: scroll; margin-top: 10px; padding: 10px 14px; height: 130px; border: 1px solid #d6d6d6; background: #f9f9f9; white-space: pre-line;}
.termsArea .p2 { margin: 15px -15px 0; padding: 15px; border-top: 1px solid #e5e5e5; color: #777; text-align: center;}
@media screen and ( max-device-width: 320px ) {
    .termsArea .p2 { letter-spacing: -1.5px;}
}

/* 현장선택 */
.searchWrap.sideArea input[type='text'] { float: left; width: 75%;}
.searchWrap.sideArea .sideBtn { float: right; width: 23%; height: 50px; background: #fa2828; color: #fff; font-size: 16px;}
.searchWrap input.autoSrch { background: #fff url(../images/ico_srch.png) no-repeat 13px 13px; background-size: 22px auto; text-indent: 42px !important;}
.sideList { margin-top: 10px; border-top: 1px solid #e5e5e5; background: #fff;}
.sideList li { height: 50px; border: solid #e5e5e5; border-width: 0 1px 1px 1px; line-height: 50px;}
.sideList li a { display: inline-block; width: 100%; height: 100%; color: #999; text-indent: 14px;}

/* 자료실 */
.pdsList { width: 100%; border: solid #dcdcdc; border-width: 1px 0 0 1px;}
.pdsList:after { display: block; clear: both; content: '';}
.pdsList li { float: left; box-sizing: border-box; width: 33.3%; width: calc(100%/3); height: 155px; border: solid #dcdcdc; border-width: 0 1px 1px 0; background: #fff;}
.pdsList li a { display: inline-block; width: 100%; height: 100%; color: #999; text-align: center;}

.pdsList2 { margin-top: 10px; padding: 0 10px; border: 1px solid #e5e5e5; background: #fff;}
.pdsList2:after { display: block; clear: both; content: '';}
.pdsList2 li { position: relative; height: 58px; border: solid #e5e5e5; border-width: 1px 0 0;}
.pdsList2 li:first-child { border: 0;}
.pdsList2 li .thumImg { position: absolute; top: 10px; left: 0; width: 40px; height: 36px; border: 1px solid #e5e5e5; border-radius: 2px;}
.pdsList2 li img { width: 100%; height: 100%;}
.pdsList2 li a { position: absolute; top: 4px; left: 0; z-index: 1; margin-top: 4px; width: 100%; height: 100%; background: url(../images/ico_arr2.png) no-repeat right 22px top 14px; background-size: 8px auto; color: #999;}
.pdsList2 li a em { display: inline-block; overflow: hidden; width: 85%; color: #333; text-indent: 54px; text-overflow: ellipsis; white-space: nowrap; font-size: 15px;}
.pdsList2 li a span { display: block; margin-top: -4px; color: #707070; text-indent: 54px; font-size: 12px;}

.dt { padding: 0 10px 2px; height: 48px; border: solid #dcdcdc; border-width: 1px 1px 0 1px; background: #fff; line-height: 48px;}
.dt .sWrap { display: block; height: 100%; border-bottom: 1px solid #dcdcdc;}
.dt .sWrap:after { display: block; clear: both; content: '';}
.dt .sWrap span { float: left; overflow: hidden ;width: 70%; color: #333; text-overflow: ellipsis; white-space: nowrap; font-size: 15px;}
.dt .sWrap em { float: right; color: #707070; font-size: 14px;}
.dd1 { overflow: scroll; padding: 10px; height: 224px; border: solid #dcdcdc; border-width: 0 1px 1px 1px; background: #fff; color: #707070; font-size: 14px;}
.dd2 { margin-top: 10px; padding: 0 10px; height: 48px; border: 1px solid #dcdcdc; background: #fff; color: #999; line-height: 48px;}
.dd2 a { float: left; overflow: hidden; width: 80%; height: 100%; background: url(../images/ico_disk.png) no-repeat 0 14px; background-size: 21px auto; color: #999; text-indent: 26px; text-overflow: ellipsis; white-space: nowrap;}
.dd2 span { float: right; color: #999; font-size: 15px;}

.commentList { margin-top: 10px; margin-bottom: 82px; padding: 0 10px; border: 1px solid #dcdcdc; background: #fff;}
.commentList li { position: relative; padding: 4px 0; border-top: 1px solid #dcdcdc;}
.commentList li:after { display: block; clear: both; content: '';}
.commentList li:first-child { border-top: 0;}
.commentList li .c1 { float: left; width: 70%;}
.commentList li .c1 .s1 { color: #333; font-size: 15px;}
.commentList li .c1 .s2 { color: #707070; font-size: 11px;}
.commentList li .c1 .s3 { display: block; width: 100%; color: #707070; font-size: 14px;}
.commentList li .c2 { position: absolute; right: 0; bottom: 11px; float: right;}
.commentList li .c2 button { padding-bottom: 2px; width: 45px; height: 29px; color: #fff; font-size: 12px;}
.commentList li .c2 .btn1 { background: #fa2828;}
.commentList li .c2 .btn2 { background: #626262;}

.bottomFiexd { position: fixed; bottom: 56px; left: 0; box-sizing: border-box; padding: 15px 20px 0; width: 100%; height: 82px; background: #f5f5f5; box-shadow: 0 -1px 4px #ccc;}
.bottomFiexd li:nth-child(1) { float: left; width: 70%;}
.bottomFiexd li:nth-child(2) { float: right; width: 26%;}
.bottomFiexd input { width: 100%; height: 50px;}
.bottomFiexd .sideBtn { width: 100%; height: 52px; background: #fa2828; color: #fff; font-size: 16px;}

/* 부외자산 조회 */
.buoiList { margin-top: 20px; width: 100%; border: solid #dcdcdc; border-width: 0 1px 1px 1px; background: #fff;}
.buoiList dt { padding: 13px 15px; border-top: 1px solid #dcdcdc; background: url(../images/ico_arr1.png) no-repeat right 18px top 20px; background-size: 15px auto;}
.buoiList dt.on { background: url(../images/ico_arr3.png) no-repeat right 18px top 20px; background-size: 15px auto;}
.buoiList dt a { display: inline-block; width: 100%; height: 100%; color: #333;}
.buoiList dd { display: none; padding: 11px 15px; border-top: 1px solid #dcdcdc; color: #707070; font-size: 14px;}
.buoiList dd li:after { display: block; clear: both; content: '';}
.buoiList dd li span:nth-child(1) { float: left;}
.buoiList dd li span:nth-child(2) { float: right;}
.managerCall { display: block; width: 100%; height: 50px; background: #0bbdb9; color: #fff; text-align: center; font-size: 16px; line-height: 50px;}

/* 잠재위험 목록 */
.searchWrap:after { display: block; clear: both; content: '';}
.searchWrap ul { width: 100%;}
.searchWrap ul:after { display: block; clear: both; content: '';}
.searchWrap li { position: relative; width: 48.5%;}
.searchWrap li { padding: 0 0 7px 0; vertical-align: middle;}
.searchWrap input[type='text'] { box-sizing: border-box; width: 100%; height: 50px; border: 1px solid #dcdcdc; text-indent: 10px;}
.searchWrap select { box-sizing: border-box; width: 100%; height: 50px; border: 1px solid #dcdcdc; background: #fff url(../images/ico_arr1.png) no-repeat right 10px top 50%; background-size: 18px auto; color: #fa2828; text-indent: 10px; -webkit-appearance: none; -moz-appearance: none; appearance: none;}
.tbl_type1 td select { box-sizing: border-box; width: 100%; height: 38px; border: 1px solid #dcdcdc; background: #fff url(../images/ico_arr1.png) no-repeat right 10px top 50%; background-size: 18px auto; text-indent: 10px; -webkit-appearance: none; -moz-appearance: none; appearance: none;}

.rArea1 { padding-top: 12px !important;}
input[type="radio"]{ display:none; }
input[type="radio"] + label { display:inline-block; padding: 0; width: 27px; height: 27px; background: url(../images/ico_radio1.png) no-repeat 0 -27px; background-size: 27px auto; vertical-align: -30%; }
input[type="radio"]:checked + label { display:inline-block; padding: 0; width: 27px; height: 27px; background: url(../images/ico_radio1.png) no-repeat 0 0; background-size: 27px auto; }
label + .label { display: inline-block; margin: 0 3px; color: #333; letter-spacing: -1px; font-size: 13px;}
.searchWrap input[type='submit'] { width: 100%; height: 50px; border: 0; background: #fa2828; color: #fff;}
.rArea1 span { margin-right: 3px !important;}
.rArea2 span { margin: 0 3px 0 0 !important;}

.rArea2 input[type="radio"] + label { display:inline-block; padding: 0; width: 20px; height: 20px; background: url(../images/ico_radio1.png) no-repeat 0 -20px; background-size: 20px auto; vertical-align: -30%; }
.rArea2 input[type="radio"]:checked + label { display:inline-block; padding: 0; width: 20px; height: 20px; background: url(../images/ico_radio1.png) no-repeat 0 0; background-size: 20px auto; }

@media screen and ( max-device-width: 320px ) {
    .rArea2 span { margin-right: 0;}
}

@media screen and ( max-device-width: 413px ) {
    .rArea2 { padding: 6px 50px 6px 8px !important;}
}

.cArea1 { padding-top: 12px !important;}
input[type="checkbox"]{ display:none; }
input[type="checkbox"] + label { display:inline-block; padding: 0; width: 27px; height: 27px; background: url(../images/ico_check1.png) no-repeat 0 -27px; background-size: 27px auto; vertical-align: -30%; }
input[type="checkbox"]:checked + label { display:inline-block; padding: 0; width: 27px; height: 27px; background: url(../images/ico_check1.png) no-repeat 0 0; background-size: 27px auto; }

.tdButton { box-sizing: border-box; padding: 0; width: 100%; height: 35px; border: 0; color: #fff; font-size: 15px;}

.searchResult { margin-top: 17px; padding: 5px 16px 5px 16px; border: 1px solid #dcdcdc; background: #fff;}
.searchResult section { margin-bottom: 12px; padding-top: 12px; border-top: 1px solid #dcdcdc;}
.searchResult section:first-child { border-top: 0;}
.searchResult section:after { display: block; clear: both; content:'';}
.searchResult section p { color: #333;}
.searchResult section dl { float: left;}
.searchResult section dt { margin-bottom: 10px; color: #333; font-size: 15px;}
.searchResult section dd { color: #707070; font-size: 14px;}
.searchResult section .imgArea { position: relative; float: right; width: 98px; height: 108px; border: 1px solid #e5e5e5; border-radius: 3px;}
.searchResult section .imgArea.type2 { height: 73px;}
.searchResult section .imgArea div { width: 100%; height: 73px; background: #f8f8f8;}
.searchResult section .imgArea div img { width: 100%; height: 100%;}
.searchResult section .imgArea span { position: absolute; bottom: 0; left: 0; width: 100%; height: 35px; border-radius: 0 0 2px 2px; background: #7d7d7d; color: #fff; text-align: center; letter-spacing: -1px; font-size: 13px; line-height: 35px;}
.searchResult section .imgArea span.ok { background: #fca727; text-indent: 16px;}
.searchResult section .imgArea span.ok:before { position: absolute; top: 14px; left: 15px; width:15px; height: 11px; background: url(../images/ico_check.png) no-repeat 0 0; background-size: 15px auto; content:'';}

/* 잠재위험 등록 */
.photoArea { width: 100%; text-align: center;}
.photoArea:after { display: block; clear: both; content: '';}
.photoArea li { float: right; width: 48%; height: 100px; background: #0bbdb9; text-align: center;}
.photoArea li:first-child { float: left; background: #fca727;}
.photoArea li img { width: 100%; height: 100%;}
.photoArea li a { display: inline-block; width: 100%; height: 100%;}
.photoArea li a span { display: block; margin-top: 62px; color: #fff; font-size: 14px;}
.photoArea li .reg1 { background: #0bbdb9 url(../images/ico_camera.png) no-repeat 50% 36%; background-size: 44px auto;}
.photoArea li .reg2 { background: #fca727 url(../images/ico_photo.png) no-repeat 50% 36%; background-size: 44px auto;}
.photoArea li .reg3 { background: #948c8c url(../images/ico_camera.png) no-repeat 50% 36%; background-size: 44px auto;}
.photoArea li.cnt { float: none; margin: 0 auto 20px;}
.srchBtn { position: absolute; top: 16px; right: 16px; width: 22px; height: 22px; background: url(../images/ico_srch.png) no-repeat 0 0; background-size: 22px auto;}
.textarea0 { box-sizing: border-box; margin: 8px 0; padding: 6px; width: 100%; height: 98px; border: 1px solid #e5e5e5;}
.textarea1 { box-sizing: border-box; padding: 6px; width: 100%; height: 98px; border: 1px solid #e5e5e5;}

/* 잠재위험 분석 */
.uList1 { margin-bottom: 20px;}
.uList1:after { display: block; clear: both; content: '';}
.uList1 li { float: left;}
.uList1 li.active a { color: #f00;}

.oList1 li { display: none;}
.oList1 li.active { display: list-item;}
.cMethod { margin-top: 10px; color: #444; letter-spacing: -1px; font-size: 13px;}
.cMethod em { color: #fa2828;}

/* 공정부적합사례 */
.searchWrap .type1 li { padding-bottom: 10px;}
.searchWrap .type1 select { color: #999;}

/* FOOTER */
footer { position: fixed; bottom: 0; left: 0; z-index: 1000; width: 100%; height: 55px; border-top: 1px solid #dcdcdc; background: #fff;}
footer ul { padding: 0 20px; height: 100%;}
footer ul:after { display: block; clear: both; content: '';}
footer ul li { float: left; width: 25%; height: 100%;}
footer ul li a { display: inline-block; width: 100%; height: 100%; text-align: center; font-size: 9px; line-height: 84px;}
footer ul li:nth-of-type(1) a { background: url(../images/foot_home.png) no-repeat 50% 10px; background-size: 23px auto;}
footer ul li:nth-of-type(2) a { background: url(../images/foot_msg.png) no-repeat 50% 10px; background-size: 23px auto;}
footer ul li:nth-of-type(3) a { background: url(../images/foot_set.png) no-repeat 50% 10px; background-size: 23px auto;}
footer ul li:nth-of-type(4) a { background: url(../images/foot_menu.png) no-repeat 50% 10px; background-size: 23px auto;}

footer ul li a:active { color: #fd2424;}
footer ul li:nth-of-type(1) a:active { background: url(../images/foot_home2.png) no-repeat 50% 10px; background-size: 23px auto;}
footer ul li:nth-of-type(2) a:active { background: url(../images/foot_msg2.png) no-repeat 50% 10px; background-size: 23px auto;}
footer ul li:nth-of-type(3) a:active { background: url(../images/foot_set2.png) no-repeat 50% 10px; background-size: 23px auto;}
footer ul li:nth-of-type(4) a:active { background: url(../images/foot_menu2.png) no-repeat 50% 10px; background-size: 23px auto;}

/* marquee Tag */
.marqueeTag {width:100%; height:36px; border:1px solid #e5e5e5; background:#fafafa !important; color:#999; text-indent:10px; line-height:2.3; -webkit-appearance:none;}